<div class="container">
    <div class="form-container">
        <h2 class="text-center">{{ app_name }}</h2>
        <form class="register-form" [formGroup]="group" (ngSubmit)="submitForm()">
            <div class="mb-3">
                <label for="signUpName" class="form-label">Full Name</label>
                <input type="text" class="form-control" formControlName="name" required>
            </div>
            <div class="mb-3">
                <label for="signUpEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="email" required>
            </div>
            <div class="mb-3">
                <label for="signUpPassword" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" required/>
            </div>
            <div class="mb-3">
                <label for="signUpConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmpassword" required>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="!group.valid">Sign Up</button>
            <p class="text-center mt-3">Already have an account? <a routerLink="/login/signin">Sign In</a></p>
        </form>
    </div>
</div>
